* {
    margin: 0;
    padding: 0;
}
body{
    color: #595959;
    font: 12px/1.125 Arial,Helvetica,sans-serif;
}
a,a:link,a:active,a:hover,a:visited {
    text-decoration: none;
    color: #000;
    outline: none;
}
/* header */
header{
    margin-top: 10px;
    line-height: 1.5em;
    text-align: right;
    border-bottom: 1px solid #aaa;
    padding-right: 3px;
}
.des{
    font-size: 12px;
    color: #1570A6;
}
.line {
    border: none;
    height: 1px;
    background: #444;
}
.hidden {
    visibility: hidden;
}
.dg-transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
a.signin,a.signup{
    text-align: center;
    color: #fff;
    display: inline-block;
    background-color: #1570A6;
    width: 80px;
}

/************/
div#content{
    /*height: calc(100%-50px);*/
    height: 500px;
}
/*********properties time line*******************/
div#line{
    position: relative;
    overflow: hidden;

}
div#line hr{
    top: 50px;
    position: absolute;
}
div#line ul.allItem{
    list-style: none;
    position: relative;
    height: 350px;
    width: 300px;
    margin: 40px auto 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}
div#line ul.allItem li.item{
    width: 300px;
    /* position: absolute; */
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
div#line ul.allItem li.item .itemWrapSuc{
	overflow: hidden;
    transition: width .3s;
    background-color: #fff;
}
div#line ul.allItem li.input{
    width: 0;
}
div#line ul.allItem li.item div.position{
    text-align: center;
    width: 300px;
}
div#line ul.allItem li.item div.position a{
    border: 1px solid #888;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    background-color: rgba(17,125,16,1);
    color: #fff;
    font-family: "Droid Sans Mono";
    margin: 0 3px;
}

div#line ul.allItem li.item div.bg{
    /**css effect**/
    margin-top: 10px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: rgba(17,125,16,.5);
    padding: 3px;
    width: 294px;
    
}
div#line ul.allItem li.item div.bg .wrap {
	background-color: #fff;
}
div#line ul.allItem li.item div.bg section{
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    background-color: #fff;
    padding: 3px;
    height: 240px;
    transition: width .3s;
    overflow: hidden;
    font-size: 14px;
    line-height: 23px;
}
div#line ul.allItem li.item div.bg section article{
    /* padding: 0.3em; */
    text-indent: 2em;
    word-wrap: break-word;
    word-break: break-all;
    text-wrap: unrestricted;
    width: 286px;
}
div#line ul.allItem li.item div.bg section figcaption{
    font-size: 12px;
    color: #1570A6;
    text-align: right;
    width: 286px;
    margin-top: 1em;
}
div#line ul.allItem li.item div.bg section figcaption.rel{
    margin-top: 1em;
}
div#line ul.allItem li.item div.bg section figcaption.rel:before{
    font-size: 12px;
    color: #1570A6;
    content: "——";
}
div#line ul.allItem li.item div.bg section figcaption.categories{
	
}
div#line ul.allItem li.item div.bg section figcaption a{
	margin-left: .5em;
	text-decoration: underline;
	color: #1570A6;
	cursor: pointer;
}
div#line ul.allItem li.input div.bg section figcaption a {
    text-decoration: none;
}
div#line ul.allItem li.item div.bg section time{
    display: block;
    text-align: right;
    font-size: 12px;
    color: #444;
    width: 286px;
}
div#line nav {
    width: 51px;
    margin: 0 auto;
}
div#line nav .dg-prev {
    display: inline-block;
    text-indent: -9000px;
    cursor: pointer;
    width: 24px;
    height: 25px;
    opacity: 0.8;
    background: transparent url(/_img/arrows.png) no-repeat top left;
}
div#line nav .dg-next {
    display: inline-block;
    text-indent: -9000px;
    cursor: pointer;
    width: 24px;
    height: 25px;
    opacity: 0.8;
    background: transparent url(/_img/arrows.png) no-repeat top left;
    background-position: top right;
}
form {
    /*width: 300px;*/
    /*border: 1px solid #aaa;
    border-radius: 3px;
    padding: 50px;*/
    text-align: center;
    white-space: none;
}
.input_title{
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    width: 280px;
}
.input_article{
    height: 150px;
    width: 280px;
    outline: none;
    resize: none;
}
.input_category{
    width: 50px;
    margin-left: 5px;
}
.input_time{
    a
}
.btn_submit{
    text-align: center;
    color: #fff;
    background-color: #1570A6;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.transition {
    transition: margin-left .5s;
    -moz-transition: margin-left .5s ease;  /* Firefox 4 */
    -webkit-transition: margin-left .5s;   /* Safari 和 Chrome */
    -o-transition: margin-left .5s;    /* Opera */
}

/****************************/

/*********overview time line***********/

div#overView{
    position: relative;
    overflow: hidden;
    height: 92px;
}
div#overView hr{
    top: 65px;
    position: absolute;
}
div#overView ul.allItem{
    list-style: none;
    position: absolute;
    top: 40px;
}
div#overView ul.allItem li.item{
    width: 300px;
    height: 52px;
    position: absolute;
}
div#overView ul.allItem li.item div.position{
    text-align: center;
    width: 52px;
    height: 52px;
    /*margin: 0 auto;*/
    background-color: #fff;
    position: absolute;
    right: 0;
}
div#overView ul.allItem li.item div.position a{
    border: 1px solid #444;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255,255,255,0);
    z-index: 2;
    position: absolute;
    left: 0;
}
div#overView ul.allItem li.item div.position div.flicker{
    /*border: 1px solid #00c6ff;*/
    width:52px;
    height:52px;
    border-radius:50px;
    /*box-shadow: 0 0 5px #00c6ff;*/
    background: radial-gradient(rgba(255,255,255,0) 50%, rgba(189,189,242,0.9) 80%);
    position:absolute;
    /*left: 124px;*/
    z-index: 1;
}
div#overView ul.allItem li.item div.on div.flicker{
    background: radial-gradient(rgba(189,189,242,0.2) 0, rgba(189,189,242,0.9) 80%);
}
div#overView ul.allItem li.item div.position:hover div.flicker{
    /*box-shadow: 0 0 5px #00c6ff;*/
    
    /*position:absolute;
    z-index: 2;
    top: 297px;
    left: 697px;*/
    z-index: 1;
    
    -moz-transform:scale(0);
    -moz-animation: flicker .3s ease-in;
    -moz-animation-iteration-count: 1;
    -moz-animation-play-state: running;
}
@-moz-keyframes flicker{
        0%   {-webkit-transform: scale(1);}
        10%  {-webkit-transform: scale(0.75);}
        50%  {-webkit-transform: scale(0.5);}
        75%  {-webkit-transform: scale(0.25);}
        100% {-webkit-transform: scale(0);} 
         
        0%   {-moz-transform: scale(1);}
       
        65%  {-moz-transform: scale(0.5);opacity: 0.5;}
        100% {-moz-transform: scale(0);opacity: 0;}  
}

div#overView #currentPosition{
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    position: absolute;
    border-radius: 7.5px;
    size:12px;
    top: 60px;
    background-color: #1570A6;
}
/************************************/
/***************footer*****************/
footer{
    text-align: center;
}
footer a.author{
    color: #1570A6;
    margin-left: 0.5em;
}

